<!DOCTYPE html>

<html>

<head>
    <title> ABOUT ME</title>
    <link rel="icon" href= "/img/weather.png"> 
    <link rel="stylesheet" href= "/css/styles.css"> 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> This was created by Shreevara Andila</p>
        <img class= "potrait" src="/img/12.jpg">
    </div>

    
    {{>footer}}
    

</body>

</html>
